<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">  
<img src="assets/logo.jpg" width="55px" height="55px">
<div class="container">        
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
      <ul class="navbar-nav">
        <li class="nav-item active">
        <a class="navbar-brand" href="#">OrderNow!!!</a>
      </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link" [routerLink]="['/Fooditems']">FoodItems</a>
        </li>
          <div class="container">
            <h5> Healthy</h5>
          </div>
          <li class="nav-item active ">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/register']">Register</a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link"[routerLink]="['/about']">Aboutus</a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" [routerLink]="['/contact']">Contactus</a>
          </li>
          <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
  <a class="navbar-brand" ></a>
      </ul> 
  </nav>
</div>
<img src="assets/logo.jpg" width="55px" height="55px">
  </nav>
</header>
        
            
<br />
<div class="container">
<h2>E-commerce deliveries are safe, taking steps to protect customers</h2>
<img src="assets/c1.jpg" width="900px">

    <p>
        Ask any company in the food manufacturing industry, and they’ll tell you food safety is their top priority. Achieving proper food safety requires a commitment to Good Manufacturing Practices (GMPs) to ensure food products meet the appropriate safety, quality, and legal requirements.

Considered “indirect food additives,” food packaging also should be included. The components designed to transport and market food products also must keep food safe for consumption. 

The History of Food Packaging
In 1958, lawmakers passed the Food Additives Amendment to dictate appropriate testing procedures. A new Section, 201(s) of the Federal Food, Drug and Cosmetic (FD&C) Act of 1938 defined the term “food additive” as “Any substance the intended use of which results in or may be reasonably expected to result… in its becoming a component of food.” Additionally, “Any substances which then become part of a food by being transferred from the packaging are considered “indirect food additives.” From that point on, Food Contact Packaging materials are considered an indirect food additive and regulated as such.  

In 2015, updates to the Current Good Manufacturing Process (CGMP) requirements for food established Hazard Analysis and Risk-based Preventative Controls (HARPC) for food products. The Food Safety Modernization Act (FSMA) shifted its focus from reacting to preventing foodborne illnesses. Because packaging materials do not maintain a history of sourcing foodborne illnesses, the burden of regulation did not equate to the risk presented and caused hardships for the food packaging industry. 

In 2018, the U.S. Food and Drug Administration (FDA) announced their intention to begin exercising enforcement discretion of the Foreign Supplier Verification Program (FSVP) requirements for food contact substance importers within the Food Safety Modernization Act. Their goal is to focus their time and efforts on a subset of critical areas most commonly associated with food safety leading to costly recalls. 

Some of these include:

Materials containing poisonous substances

Materials containing uncleared food additives

Materials containing decomposed substances

Materials prepared under contaminated conditions

Materials in a container composed of toxic substances

The FDA provides comprehensive and up-to-date guidance on the regulations associated with the safety and quality of food contact packaging, so let’s start by taking a look at some of the top challenges packaging manufacturers deal with today. </p>

<h2>COMMON FOOD PACKAGING CHALLENGES</h2>
Globalization

Gone are the days when food circulates within a single community or even country. Consumers are increasingly interested in experiencing cultures outside of their own and are actively seeking foods sourced from other parts of the world. The more global foods we eat, the more packaging must be altered to prevent foods from damage as it travels across the globe. If the packaging is doesn’t adequately reflect the origin or style of the food, it will be less attractive to customers. 

Consumer Preference

Consumers today have the world in the palm of their hand, literally. If the smallest detail of a food or packaging product turns them off, they will quickly look for a suitable replacement. Food “flexibility” from the consumer increases competition.

Information Transparency

Consumers are demanding transparency and desire packaging that effectively communicates the product’s ingredients and features and speaks to the brand and values of the company producing it. Food must convey a pleasant “experience,” and that responsibility falls mainly on packaging.

Mobile Technologies

The mobile phone has ushered in a new war for the consumer dollar. With the advent of technologies such as Bluetooth low-energy, the Internet of Things, and Near-field communications, technology is replacing traditional packaging real-estate and defining new customer experiences never seen in the industry before. To compete, many companies must make significant investments in these leading-edge technologies.

<h2>PACKAGING TYPES</h2>
Packaging requires a wide range of materials with different physical and chemical properties. The basic materials are:

Plastics<br>

Metals (Steel, Tin, Aluminum)<br>

Glass<br>

Wood, Cardboard, Papers<br>

Paper<br>

Fiber (Cloth)<br>

Ceramics<br>

Recycled Materials (these become a more significant challenge when it comes to tractability)

Additionally, any packaging used to store raw ingredients or finished products can adversely shape or form the product. These processes can include:

Storing

Processing

Heating

Cooling

Microwaving

Irradiation

Chemical Sterilization

<h2>PACKAGING SPECIFICATIONS </h2>
Food processes include packaging specification elements for the list above. For each item, specifications can be extensive. For example, a laminate film specification will look completely different from a fiberboard specification. Regardless of the material, every specification should contain the following components:

Information as it relates to microbiological safety

Information to describe the “product” as a standard identity

Chemical makeup<br>

Chemical contamination<br>

Foreign objects<br>

Injury<br>

Loss of nutritional and sensory quality<br>

Tamper evidence <br>

Physical properties<br>

All specifications should establish measurements for the quality, safety, and performance of the packaging. 

<h2>SAFETY CONSIDERATIONS</h2>
When it comes to packaging safety, implementing a biological program is an excellent place to start. Your plan should include the following:

Ambient facility atmosphere to measure the airflow in each area of the facility where packaging is either manufactured or stored

Air quality to measure the contamination in and around your facility

Contact surfaces – to ensure the production equipment warehouse, floors, walls and, ceilings are adequately cleaned and maintained

Utilities – including HVAC, water, and sewer

Raw materials – used in recycling, rework, and bulk storage containers throughout your facilities

Packaging - used in totes and train cars used to transport your raw ingredients 

Process sampling – before, during, and after production

Personal health and sanitation

All packaging must function as a barrier to microbiological, chemical, and physical contaminants that would degrade product quality and safety.

VALIDATION & VERIFICATION 
Verification is imperative if you’re going to assess your products’ chemical contaminant risks and microbiological impacts. Analysis parameters include physical, chemical, and biological approaches for the following. 

Physical items to measure: 

Seal

Moisture barrier

Vapor barrier

Light protection

Chemical protection

Quality and safety parameters needed to ensure the packaging performs as it should

Microbiological items to measure:

Cleanliness of packaging (sometimes it can cause molds in products like yogurts)

Post-production contamination

Storage conditions for packaging

Air and airflow

Safety and quality of the packaging materials used

Chemical items to measure:

Migration studies focusing on the transfer of chemicals to the product through packaging

Toxicity testing (what are the limits on specific chemical intakes)

The design of food contact packaging performance must meet all the parameters of the product itself. It should be done in conjunction with development, marketing, quality assurance, food safety, and distribution to ensure the packaging comprehensively supports the intended use. 

Good Manufacturing Practices (GMPs) ensure products are consistently produced and controlled according to quality standards. Our “Ten Components of a Strong Good Manufacturing Program eBook” will help you get started.
</div>